/* .container{
    border: 2px solid black;
    margin: 90px;
    padding: 27px;
    background: cadetblue;
}


.aligncard{
    margin: 32px;
}

.ProfileCard{
    margin: 90px;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
}
.btn{
    width: 107px;
    font-size: 19px;
}

.formAligndiv input {
    display: table;
    
}

.studentHeading{
    text-align: center;
    font-size: 48px;
} */