*{
	margin: 0px;
}

.HeightIncrease{
	height: 710px;
}

	.AccountContainer{
		text-align: center;
	}


	.line1{
		width: 400px;
		border: 1px solid #808080;
		margin-left: 720px;
	}

	.line2{
		width: 386px;
		margin-top: -10px;
		border: 1px solid #808080;
		margin-left: -13px;
	}


	.LoginHeading{
		font-family: 'Lato';
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 31px;
letter-spacing: 0em;
text-align: center;

	}

	.SignUpHeading{
		font-family: 'Lato';
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 31px;
letter-spacing: 0em;
text-align: center;
	}


	.login_form{
	margin-left: 85px;
	padding-top: 30px;
    width: 476px;
    height: 376px;

    background: rgba(196, 196, 196, 0.5);
    align-items: center;
	display: inline-block;
	}


	.SignUp_form{
		margin-left: 85px;
		padding-top: 30px;
		width: 476px;
		height: 476px;
		background: rgba(196, 196, 196, 0.5);
		align-items: center;
	display: inline-block;

	}

	.SignUPcontainer{
		margin-top: 5%;
		display: flex;
		justify-content: center;
	}

	.LoginCOntainer{
		margin-top: 5%;
		display: flex;
		justify-content: center;
	}

	.register-text{
		margin-left: 32px;
 		   margin-top: 36px;
	}

	.submit-btn{
		margin-left: 38%;

	}




	

	   .email{

		margin-left: 29px;
		width: 404px;
		height: 41px;
		background: #FFFFFF;
		border-radius: 5px;
		border: none;
		padding-left: 12px;
		align-items: center;
	}
	

	.btn{
		width: 72px;
		height: 31px;

		border: 20px;
		color: #FFFFFF;
		background: #0F2462;
		border-radius: 5px;
		font-family: 'Lato';
		font-weight: bold;
		margin-top: 36px;

		padding-bottom: 23px;

		/* margin-left: 126px; */
		margin-right: 10px;
	
		/* margin-bottom: 10px;
		
		font-size: 14px;
		margin-right: 5px;
		margin-left: 120px; */
}

.AllBtn{
	display: flex;
    justify-content: end;
    align-items: center;
}
		


		.Remember{
			padding-left: 15px;
		}

		.Check{
			margin-left: 38px;
    border: none;
		}


		.forget{
			margin-left: 70%;
    color: black;
		}


		.btn3{
	
				color: #FFFFFF;
				background: #0F2462;
				border-radius: 5px;
				font-size: 12px;
			

				
		
		}
.FirstLine{

    border: 1px solid black;

}
.SecondLine{
	width: 88%;
    border: 1px solid black;
   
}

.AllversionText{
	text-align: center;
}
	

.ChooseOne{
	height: 43px;
    width: 88%;
    margin-left: 6%;

    color: grey;
    border: none;
    background-color: white;
    border-radius: 6px;
}
.form-group{
	margin-bottom: 20px;
}